.App {
  color: white;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    justify-content: flex-start;
    flex-direction: column;
  }
}