.App {
  color: white;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 0 8%;
  &.darkmodebg{
    background-color: white;
    color: black;
  }
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px 0;
  }
}